.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  // overflow-y: hidden;

  &.fade-in {
    animation: fadeIn 0.5s cubic-bezier(0.05, 0.22, 0.2, 1) forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // overflow-y: hidden;
    padding: 32px;
    gap: 16px;
    height: 100%;
    width: 100%;
    &.isMobile {
      overflow-y: scroll !important;
    }

    & a {
      color: rgb(88, 88, 88);
      text-decoration: none;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      &:hover {
        color: rgb(42, 42, 42);
      }
    }
    > .input-wrapper {
      display: flex;
      flex-direction: column;
      > .label-wrapper {
        display: flex;
        flex-direction: column;
      }
    }
    > .policy-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      > .check-text {
        font-size: 14px;
      }

      > input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        aspect-ratio: 1/1;
        height: 22px;
        width: 22px;
        background-color: transparent;
        border: 2px solid #3b3b3b;
        border-radius: 4px;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
          border-color: #666;
        }
        &:checked {
          display: flex;
          justify-content: center;
          align-items: center;

          &::after {
            content: "";
            width: 58%;
            height: 58%;
            background-color: #3b3b3b;
            border-radius: 100px;
          }
        }
      }
    }
    > .button-wrapper {
      display: flex;
      gap: 32px;
      margin-bottom: 32px;
      > .error-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        color: rgb(216, 54, 26);
        > .success {
          color: rgb(40, 109, 0);
        }
      }
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.25;
}

label {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -5%;
  line-height: 96%;
  color: rgb(45, 45, 45);
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 1px solid #4c4c4c;
  background-color: #00000000;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  height: 80px;
  max-height: 180px;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type="submit"] {
  background-color: #3b3b3b;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -5%;
  line-height: 96%;
  width: 30%;
  min-width: 128px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

// .contact-wrapper {
//   scrollbar-width: thin;
//   scrollbar-color: #888 transparent;
// }

// .contact-wrapper::-webkit-scrollbar {
//   width: 6px;
// }

// .contact-wrapper::-webkit-scrollbar-track {
//   background: transparent;
// }

// .contact-wrapper::-webkit-scrollbar-thumb {
//   background-color: #888;
//   border-radius: 10px;
//   border: none;
// }

// .contact-wrapper::-webkit-scrollbar-button {
//   display: none;
// }

// .contact-wrapper::-webkit-scrollbar-thumb:hover {
//   background-color: #666;
// }

@media (max-width: 750px) {
  .contact-section {
    > form {
      padding: 0 16px;
      > .input-wrapper {
        margin-top: 64px;
      }
    }
  }

  label {
    margin-top: 0px;
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .contact-section {
    > form {
      overflow-y: scroll;

      > .input-wrapper {
        margin-top: 64px;
      }
    }
  }

  label {
    margin-top: 0px;
    font-size: 24px;
  }
}
