<div class="contact-section" [class.fade-in]="fadeIn">
  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    [class.isMobile]="isMobile"
  >
    <div class="input-wrapper">
      <div class="label-wrapper">
        <label for="name">Name</label>
        <input
          #name="ngModel"
          minlength="1"
          [(ngModel)]="contactData.name"
          type="text"
          id="name"
          name="name"
          placeholder="Your name.."
          required
        />
      </div>

      <div class="label-wrapper">
        <label for="emil">Email</label>
        <input
          #email="ngModel"
          minlength="1"
          [(ngModel)]="contactData.email"
          type="email"
          id="email"
          name="email"
          placeholder="Your  email.."
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        />
      </div>

      <div class="label-wrapper">
        <label for="subject">Message</label>
        <textarea
          #message="ngModel"
          minlength="1"
          [(ngModel)]="contactData.message"
          id="subject"
          name="subject"
          placeholder="Write something.."
          required
        ></textarea>
      </div>
    </div>

    <div class="policy-wrapper">
      <input
        type="checkbox"
        id="privacyPolicy"
        name="privacyPolicy"
        #privacyPolicy="ngModel"
        [(ngModel)]="contactData.privacyPolicy"
        required
      />
      <p class="check-text">
        I've read the
        <a (click)="clickPrivacy(true)" href="javascript:void(0)"
          >privacy policy</a
        >
        and agree to the processing of my data as outlined.
      </p>
    </div>

    <div class="button-wrapper">
      <input
        type="submit"
        value="submit"
        [class.disabled]="
          !privacyPolicy.valid || !name.valid || !email.valid || !message.valid
        "
      />

      <div class="error-wrapper">
        @if (!name.valid && name.touched) {
        <p>Please enter a name!</p>
        } @if (!email.valid && email.touched) {
        <p>Please enter a valid email adress!</p>
        } @if (!message.valid && message.touched) {
        <p>Please enter a message!</p>
        } @if (!privacyPolicy.valid && name.touched) {
        <p>Please accept the privacy policy!</p>
        } @if (submitSuccess) {
        <p class="success">Message sent!</p>
        }
      </div>
    </div>
  </form>
</div>
