<div class="about-section fade-in">
  <div class="form-wrapper">
    <div class="about-me-wrapper">
      <h2>ABOUT ME:</h2>
      <p>
        As a frontend developer and 3D artist, I bridge technology and design to
        create compelling digital experiences. I am at home in JavaScript, HTML
        and CSS, crafting web apps that look great and work well.<br />
        Right now, I'm looking to take on new challenges with Angular to grow my
        skills.
      </p>
    </div>
    <div class="skillset-wrapper">
      <h2>SKILLSET:</h2>
      <div class="tech-wrapper">
        <div class="tech">
          <img src="/icons/js.svg" alt="" />
          <div class="label">Javascript</div>
        </div>
        <div class="tech">
          <img src="/icons/angular.svg" alt="" />
          <div class="label">Angular</div>
        </div>
        <div class="tech">
          <img src="/icons/html.svg" alt="" />
          <div class="label">HTML</div>
        </div>
        <div class="tech">
          <img src="/icons/css.svg" alt="" />
          <div class="label">CSS</div>
        </div>
        <div class="tech">
          <img src="/icons/git-big.svg" alt="" />
          <div class="label">Github</div>
        </div>
        <div class="tech">
          <img src="/icons/figma.svg" alt="" />
          <div class="label">Figma</div>
        </div>
      </div>
    </div>
  </div>
</div>
