<div class="card-section">
  <div
    class="card-content-wrapper"
    [style.background-image]="'url(' + cardData.background + ')'"
  >
    <video
      loop
      muted
      preload="auto"
      playsinline
      [src]="cardData.background"
      class="background-video"
      src="cardData.background"
    ></video>
    <div class="blur"></div>
    <div class="text-content-wrapper">
      <div class="title-wrapper">
        <div class="title">{{ cardData.title }}</div>
      </div>
      <div class="description">
        {{ cardData.description }}
      </div>
      <div class="tech-wrapper">
        <div class="pill-wrapper">
          @for (item of cardData.software; track $index) {
          <div class="tech-pill">{{ item }}</div>
          }
        </div>
        <div class="link-wrapper">
          <a
            [href]="cardData.links[0]"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/icons/link.svg" alt="External link" />
          </a>
          @if (cardData.links[1]) {
          <a
            [href]="cardData.links[1]"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="/icons/git.svg" alt="GitHub repository" />
          </a>
          }
        </div>
      </div>
    </div>
  </div>
</div>
