.card-section {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 564px;
  height: 100%;
  padding: 0px;

  > .card-content-wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-position: center;
    overflow: hidden;

    > .background-video {
      position: absolute;
      left: -150px;
      height: 100%;
      object-fit: cover;
      background-repeat: none;
      background-position: center;
      pointer-events: none;
      touch-action: none;
    }

    > .blur {
      height: 85%;
      width: 100%;
      background: linear-gradient(to top, #373737a1 30%, #ffffff00 100%);
      backdrop-filter: blur(30px);
      mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 0) 75%
      );
      z-index: 5;
    }

    > .text-content-wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 22px;
      top: 65%;
      left: 0;
      z-index: 10;
      > .title-wrapper {
        display: flex;
        > .title {
          font-size: 24px;
          font-weight: 500;
          color: rgb(249, 249, 249);
          margin-bottom: 8px;
        }
      }
      > .description {
        font-size: 18px;
        color: rgb(187, 187, 187);
      }
      > .tech-wrapper {
        display: flex;
        flex-direction: row;
        gap: 8px;
        font-size: 18px;
        color: rgb(249, 249, 249);
        > .tech-pill {
          display: flex;
          background-color: rgba(42, 42, 42, 0.652);
          padding: 4px 12px;
          font-size: 16px;
          border-radius: 100px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .card-section {
    width: 100%;
    min-width: 320px;
    > .card-content-wrapper {
      > .blur {
        height: 100%;
      }

      > .text-content-wrapper {
        top: 60%;
        padding: 12px;

        > .title-wrapper {
          > .title {
            margin-bottom: 4px;
            font-size: 20px;
          }
        }
        > .description {
          font-size: 16px;
        }
        > .tech-wrapper {
          > .tech-pill {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .card-section {
    width: 100%;
    min-width: 300px;
    > .card-content-wrapper {
      > .blur {
      }

      > .text-content-wrapper {
        top: 55%;
        padding: 8px;

        > .title-wrapper {
          > .title {
            margin-bottom: 4px;
            font-size: 20px;
          }
        }
        > .description {
          font-size: 16px;
        }
        > .tech-wrapper {
          > .tech-pill {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .card-section {
    width: 100%;
    min-width: 300px;
    > .card-content-wrapper {
      > .background-video {
        left: -50px;
      }
      > .text-wrapper {
      }

      > .text-content-wrapper {
        top: 55%;
        padding: 8px;

        > .title-wrapper {
          > .title {
            margin-bottom: 4px;
            font-size: 20px;
          }
        }
        > .description {
          font-size: 16px;
        }
        > .tech-wrapper {
          > .tech-pill {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .card-section {
    width: 100%;
    min-width: 300px;
    > .card-content-wrapper {
      > .text-content-wrapper {
        top: 60%;
        padding: 8px;
      }
    }
  }
}

@media (max-width: 400px) {
  .card-section {
    width: 100%;
    min-width: 300px;
    > .card-content-wrapper {
      > .text-content-wrapper {
        top: 60%;
        padding: 8px;
      }
    }
  }
}
