<div class="portfolio-section" [class.fade-in]="fadeIn">
  <div class="cards-wrapper" #cardsWrapper>
    @for (card of cards; track $index) {
    <app-card [cardData]="card" [class.isActive]="activeCardID == $index">
    </app-card>
    }
  </div>
  <div class="arrow-wrapper">
    <img
      [style.opacity]="activeCardID > 0 ? 1 : 0"
      [style.pointerEvents]="activeCardID > 0 ? 'auto' : 'none'"
      (click)="moveCardToCenter('left')"
      src="/icons/arrow-left.svg"
      alt="Previous"
    />
    <img
      [style.opacity]="activeCardID < 3 ? 1 : 0"
      [style.pointerEvents]="activeCardID < 3 ? 'auto' : 'none'"
      (click)="moveCardToCenter('right')"
      src="/icons/arrow-left.svg"
      alt="Next"
      class="arrow-right"
    />
  </div>
</div>
