.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #c2bfb8;
  border-radius: 6px;
  opacity: 1;
  pointer-events: none;

  &.fade-in {
    animation: fadeIn 10s cubic-bezier(0.046, 0.218, 0.19, 1) forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.portfolio-section {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 24px;

  > .cards-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    user-select: none;
    cursor: grab;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 40px;
    padding: 16px;

    &::-webkit-scrollbar {
      display: none;
    }

    &:active {
      cursor: grabbing;
    }

    > app-card {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      transition: width 0s, visibility;

      &.isActive {
        width: 100%;
        visibility: visible;
      }
      &.isGone {
        display: none;
        width: 0%;
        visibility: hidden;
        transition: width 0s, visibility;
      }
    }
  }

  > .arrow-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    width: 100%;
    padding: 28px;
    z-index: 10;
    pointer-events: none;

    & :nth-child(2) {
      transform: rotate(180deg);
    }

    & img {
      pointer-events: visible;
      height: 50px;
      width: 50px;
    }
  }
}

@media (max-width: 650px) {
  .portfolio-section {
    > .arrow-wrapper {
      display: none;
    }
  }
}
